extends ../layout

block content
	//- :coffeescript
	//- 	$ ->
	//- 		$('form').ajaxForm (res) ->
	//- 			$('#result').html res

	h1 上传
	form(action="/story/create/?#{csrf_qs}", method="post", enctype="multipart/form-data")
		p
			音频文件
			small（仅支持mp3)
			input(type="file", name="file")
			input(type="hidden", name="test", value="token")
		input(type="submit", value="提交", id="tt")
	#result