extends ../layout

block meta
	!= js('jquery.form.js')
	!= js('jquery.validate.js')

block content
	:coffeescript
		$ ->
			$('form').validate
				submitHandler: (form) ->
					$('.progress').removeClass('hidden')
					$('#submit').prop('disabled', true)
					$(form).ajaxSubmit
						success: (res, statusText, xhr, $form) ->
							$('#result').removeClass 'hidden'
							suchtml = "<div class='alert alert-success'>文件 #{res} 成功上传!</div"
							failhtml = "<div class='alert alert-danger'>#{res.error}</div"
							$('#result').prepend(if res.error? then failhtml else suchtml)
							$('.progress').addClass('hidden')
							$('#submit').prop('disabled', false)
							$('.progress-bar').width('0%')
						uploadProgress: (event, position, total, percentComplete) ->
							$('.progress-bar').width(percentComplete + '%')
	.container
		.page-header
			h1 新故事
		form.form-horizontal(action="/story/create/?#{csrf_qs}", method="post", enctype="multipart/form-data", role="form")
			.form-group
				label.control-label.col-sm-2.input-lg(for="title") 标题
				.col-sm-10
					input#storyName.form-control.input-lg(name="title", placeholder="标题")
			.form-group
				label.control-label.col-sm-2.input-lg(for="audioFile") 录音
				.col-sm-10
					input#storyName.form-control.input-lg(type="file", name="audioFile", placeholder="音频文件")
					span.help-block 仅支持MP3格式
			.form-group
				.col-sm-10.col-sm-offset-2
					.progress.progress-striped.active.hidden
						.progress-bar(role="'progressbar", aria-valuenow="0" aria-valuemin="0", aria-valuemax="100", style="width:0%")
							span.sr-only 0% completed
			.form-group
				.col-sm-10.col-sm-offset-2
					button#submit.btn.btn-default.btn-lg(type="submit") 提交
		#result.hidden.jumbotron.col-sm-10.col-sm-offset-2
