extends ../layout

block content
	:coffeescript
		$ ->
			player = 
				new CirclePlayer "#jquery_jplayer_1",
				{m4a: "/assets/test.mp3"},
				{cssSelectorAncestor: "#cp_container_1",
				canplay: ->
					$('#jquery_jplayer_1').jPlayer "play"
				}
	.container
		.story_bookmark
			img(src="/assets/images/1.jpg")
			.introduction
				.author 杨老师
				.title 三只小猪
			.player 
				#jquery_jplayer_1.cp-jplayer

				#cp_container_1.cp-container
					.cp-buffer-holder 

						.cp-buffer-1
						.cp-buffer-2
					.cp-progress-holder
						.cp-progress-1
						.cp-progress-2
					.cp-circle-control
					ul.cp-controls
						li
							span.cp-play.outer(href="#", tabindex="1")
								span.inner play
						li 
							span.cp-pause.outer(href="#", style="display:none", tabindex="1")
								span.inner pause
			.clearfix