doctype 5
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    != js('app')
    != css('bootstrap')
    != css('bootstrap-theme')
    != css('layout')
  body
    block content