@import colors

body
	background-color bg_color
	font-family: arial, sans-serif;

.story_bookmark
	width 100%
	margin-top 400px
	background-color #f0f0f0
	border-radius 0 100px 100px 0
	box-shadow 10px 10px 20px rgba(0,0,0,0.2)
	.introduction, img
		float left
	img
		width 200px
		height 200px
	.introduction
		padding 25px
		font-family 
		.author
			font-size 48px
			color gray
		.title
			font-size 54px
			font-weight bolder
	.player
		float right
		width 200px
		height 200px
